ユーザー
<% count = 0 %>
<% users.each do |user| %>
    <% if user.status == false %>
        <% count += 1 %>
    <% end %>
<% end %>
<% unless count == 0 %>
    <span class='false-status-count'><%= count %></span>
<% end %>