<div class='container'>
  <div class='col-md-8'>
    <h4>過去問一覧</h4>
    <button>絞り込み</button>
    <br />
    <p>学部 :  <select class="departments"></select></p>
    <p>学科 :  <select class="courses"></select></p>
    <p>学期 : 
        <select>
            <option hidden>選択してください</option>
            <option>前期 中間</option>
            <option>前期 期末</option>
            <option>後期 中間</option>
            <option>後期 期末</option>
        </select>
    </p>
    
    <div class='kakomon-content'>
      <div class='kakomon-top'>
        
      </div>
      <div class='kakomon-body'>
        
      </div>
      <div class-'kakomon-bottom'>
        
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    
  </div>
</div>