.admin-board-index {
    margin-right: 0;
    padding-right: 0;
    overflow: hidden;
    margin-top: 100px;
}

.admin-board-comment-all {
  position: relative;
  top: 5px;
  font-size: 15px;
}

.admin-board-comment-all-1000 {
  position: relative;
  top: 4px;
  font-size: 15px;
}

.admin-index-board-comment-content {
  padding: 10px;
  width: 50%;
}

.admin-index-board-content {
  padding: 10px;
  width: 500px;
}

.admin-index-board-comment {
  width: 400px;
  border-left: 1px solid #dbdbdb;
  height: 200px;
  overflow: scroll;
}

.admin-index-board-wrapper:first-child {
  margin-top: 50px;
}

.admin-board-index-wrapper {
  width: 500px;
  margin: 0 auto;
}

.admin-board-favorites {
  float: right;
  position: relative;
  top: 2px;
}

.admin-thanks {
  background-color: #009B8E;
  padding: 3.5px 5px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  border: 1px solid #009b8e;
}


.admin-not-thanks {
  background-color: white;
  color: #009b8e;
  padding: 3.5px 5px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #009b8e;
}

.admin-not-thanks:hover {
  color: white;
  background-color: #009b8e;
  transition-duration: 0.2s;
}

.admin-board-date {
  color: #8e8e8e;
  font-size: 12px;
}

.admin-board-index-show {
  margin: 10px auto 0 auto;
  display: flex;
  flex-wrap:wrap;
  width: 800px;
  position: relative;
  bottom: 10px;
}

.admin-board-message-wrapper {
  width: 400px;
  float:right;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
  padding: 10px;
  height: 156px;
  overflow: scroll;
  border-left: none;
}

.admin-show-board-content {
  width: 400px;
  float:left;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
}

.admin-end-user-board-delete  {
  padding: 2px 5px;
  padding: 1px 3px;
  float: right;
}










@media (max-width: 600px) {
  .admin-board-comment-all-1000 {
    font-size: 13px;
  }
}