.admins-users-image-size {
    width: 40px;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    position: relative;
    top: 4px;
    left: 5px;
}

.users-index-wrapper {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    width: 500px;
    margin: 5px auto;
}

.admin-users-index-image {
    width: 15%;
}

.admin-users-index-name {
    width: 65%;
}

.admin-users-status {
    width: 20%;
}

.admin-user-dep-cor {
    color: gray;
    font-size: 14px;
    position: relative;
    bottom: 3px;
}

.is-deleted-true {
    font-weight: bold;
    color: #3cb371;
    position: relative;
    top: 11px;
}

.is-deleted-false {
    font-weight: bold;
    color:gray;
    position: relative;
    top: 11px;
}

.ban-true {
    color: white;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 4px;
}

.ban-true:hover {
    cursor: pointer;
}

.ban-false {
    padding: 4px 17px;
    border-radius: 4px;
}

.end-user-year-font {
    font-size: 14px;
}

.user-search-wrapper {
    position: fixed;
    left: 420px;
    top: 55px;
    width: 600px;
    height: 62px;
}

.user-search-content {
    margin: 0 auto;
    width: fit-content;
    margin-top: 15px
}

.end-user-search {
    margin-top: 50px;
}

.search-count {
    width: fit-content;
    margin: 0 auto 20px auto;
}

.end-users-search-clear {
    color: black;
}

.end-users-search-clear:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.end-user-name-link {
    color: black;
}
.end-user-name-link:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.falseStatusCount {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 0;
    left: 10.5px;
}

.circle-bell {
    position: absolute;
    color: red;
    font-size: 16px;
    top: -9px;
    left: 6px;
    border: 1px solid white;
    border-radius: 10px;
}

.circle-bell-big {
    position: absolute;
    color: red;
    font-size: 20px;
    top: -11.5px;
    left: 7px;
    border: 1px solid white;
    border-radius: 13px;
}

.admin-end-user-kakomon-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 802px;
    margin: 10px auto 0 auto;
}

.admin-show-kakomon-content {
    width: 400px;
}

.admin-end-user-kakomon-message {
    width: 400px;
    padding: 10px;
    border-left: 1px solid #dbdbdb;    
    overflow: scroll;
}

.users-show-content {
    width: 850px;
    margin: 10px auto 0 auto;
}

.admin-enduser-boards-index-wrapper {
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 800px;
    margin: 10px auto 0 auto;
}
