.kakomon-reports-index {
    padding-top: 80px;
}

.kakomon-reports {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}

.kakomon-report-link {
    color: black;
}

.kakomon-report-link:hover {
    text-decoration: none;
    color: black;
}

.board-reports {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}

.board-report-link {
    color: black;
}

.board-report-link:hover {
    text-decoration: none;
    color: black;
}

.user-reports {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}

.user-report-link {
    color: black;
}

.user-report-link:hover {
    text-decoration: none;
    color: black;
}

.kakomon-reports-at {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #dbdbdb;
    margin: 5px;
}

.board-reports-at {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #dbdbdb;
    margin: 5px;
}

.user-reports-at {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #dbdbdb;
    margin: 5px;
}




                                                // userreports.html.erb


.user-reports-top-wrapper {
    width: 1000px;
    height: 100px;
    position: fixed;
    top: 30px;
    left: 200px;
    background-color: #fafafa;
    z-index: 40;
}    


.user-reports-top {
    text-align: center;
    margin-bottom: 15px;
    position: fixed;
    top: 80px;
    left: 510px;
}   


.userreports-index-wrapper {
    display: flex;
    flex-wrap: wrap;
}   

.userreports-index {
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 10px 12px;
    width: 30%;
}     

.userreports-index:nth-child(1) {
    margin-top: 50px;
}   

.userreports-index:nth-child(2) {
    margin-top: 50px;
}   

.userreports-index:nth-child(3) {
    margin-top: 50px;
}   

.user-status {
    float: right;
    position: relative;
    padding: 2px 5px;
    font-size: 14px;
    bottom: 3px;
}

.reported-user-image-size {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
}

.reportor-name {
    font-weight: bold;
}

.reported-name {
    font-weight: bold;
}

.false-status-count {
    color: white;
    background-color: red;
    border-radius: 15px;
    padding: 1px 7px;
}



                                            // boardreport.html.erb


.boardreports-index-wrapper:first-child {
    margin-top: 50px;
}

.boardreports-index-wrapper {
    display: flex;
    border:1px solid #dbdbdb;
    border-radius: 4px;
    width: 800px;
    margin: 10px auto 0 auto;
}                       

.board-report-wrapper {
    width: 400px;
    height: 280px;
    padding: 10px;
}

.board-report-comment-wrapper {
    width: 400px;
    height: 280px;
    border-left: 1px solid #dbdbdb;
    padding: 10px;
    overflow: scroll;
}


.comment-user-name {
    margin-right: 10px;
}

.kakomon-date {
    margin-right: 10px;
}

.kakomon-date-report {
    color: #8e8e8e;
    font-size: 12px;
}

.report-board-delete-button {
    float: right;
    position: relative;
    padding: 2px 5px;
    font-size: 14px;
    margin-right: 10px;
}

.other-user-comment-report-content {
    margin-right: 15px;
}


                                        // kakomonreport.html.erb

.kakomon-report-comment-wrapper {
    width: 400px;
    border-left: 1px solid #dbdbdb;
    padding: 10px;
    overflow: scroll;
}                                        

.kakomon-report-wrapper {
    width: 400px;
    padding: 10px;
}

.kakomonreports-index-wrapper:first-child {
    margin-top: 50px;
}

.admin-kakomons-image-size {
    width: 380px;
    height: auto;
}