<div class='container rooms-index-wrapper'>
    <div class='row'>
        <div class='col-md-4 offset-1 rooms-index-left'>
            <% @rooms.each do |room| %>
                <div class='rooms-content'>
                    <% @RoomUsers = room.room_users %>
                    <% @RoomUsers.each do |r| %> 
                        <% unless r.end_user.name === current_end_user.name %>
                            <%= image_tag r.end_user.get_profile_image,size:'40x40',class:'rooms-index-profile-image' %>
                            <span class='rooms-index-top-name'>
                                <%= r.end_user.name %>
                            </span><br />
                            <span class='last-message'>aaa</span>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class='col-md-6 rooms-index-right'>
        </div>
    </div>
</div>
