<% kakomonCount = Kakomon.where(status:false).count %>
<% boardCount = Board.where(status:false).count %>
<% falseStatusCount = kakomonCount + boardCount %>

<%= link_to admin_kakomons_path do %>
    <% if falseStatusCount != 0 %>
        <span class='fa-stack'>
            <i class="fa-solid fa-file admin-file"></i>
            <% if falseStatusCount > 9 %>
                <i class='fa-solid fa-circle circle-bell-big'></i>
            <% else %>
                <i class='fa-solid fa-circle circle-bell'></i>
            <% end %>
            <i class='falseStatusCount'><%= falseStatusCount %></i>
        </span>
    <% else %>
        <i class="fa-solid fa-file admin-file"></i>
    <% end %>
<% end %>

