<% if kakomon.status == false %>
    <%= link_to '未処理',admin_kakomon_path(kakomon),class:'btn btn-danger admin-kakomon-status-button',method: :patch %>
<% else %>
    <span class='admin-kakomon-status-button-true btn btn-success'>処理済</span>
<% end %>