<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
    <% if notification.checked === true %>
        <span>既読</span>
    <% else %>
        <span>未読</span>
    <% end %>
    <%= link_to user_path(visitor) do %>
        <%= visitor.name %>
    <% end %>
    <% if notification.action=='dm' %> 
        さんがあなたにdmをしました
    <% end %>
</div>
