<div class='container'>
  <div class='col-md-6 pt-3 user-index'>
    <div id="depSelector">
      <h2>ユーザー一覧</h2>
      <p>学部 :  <select class="departments"></select></p>
      <p>学科 :  <select class="courses"></select></p>
    </div>
    <table class='table table'>
      <% @users.each do |user| %>
        <tbody>
          <td><%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %></td>
          <td><%= user.name %></td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>