<div class="container">
    <div class='col-md-8'>
        <div class='kakomon-show'>
            <article>
                <div class='kakomon-top'>
                </div>
                <div class='kakomon-image'>
                </div>
            </article>
        </div>
    </div>
    <div class='col-md-4'>
    </div>
</div>