<div class='container'>
  <div class='row'>
    <div class='col-md-8 homes-top'>
      <div class='homes-top-content'>
        <p>ようこそ <span class='homes-top-aokako-font'>Aokako</span> へ！</p>
        <p><span class='homes-top-aokako-font'>Aokako</span> は青山学院大学の過去問共有サイトです！</p>
        <p>受けた試験問題を後輩へシェアしましょう！</p>
        <p class='aokako-alert'>※大学の入試試験の過去問ではありません</p>
        <p class='fotter'>お問合せ先  aokako2022@gmail.com<p>
      </div>
    </div>
  </div
</div>