
                                // new.html.erb
                  
.past-paper-boards {
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
  }
  

.past-class-boards {
  border: 1px solid gray;
  background-color: #dbdbdb;
  padding: 5px 10px;
  border-radius: 3px;
}

.past-class-boards:hover {
    cursor: pointer;
}

.past-paper-boards-link {
  color: black;
}

.past-paper-boards-link:hover {
  text-decoration: none;
  color: black;
}

.form1 {
  letter-spacing: 6.4px;
  margin-right: 10.5px;
  position: relative;
  top: 2px;
}

.form2 {
  letter-spacing: 12px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.form3 {
  margin-right: 17.1px;
  position: relative;
  top: 2px;
}

.form1-new {
  letter-spacing: 6.5px;
  margin-right: 10.5px;
  position: relative;
  top: 2px;
}

.form2-new {
  letter-spacing: 12px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.form3-new {
  margin-right: 16.8px;
  position: relative;
  top: 2px;
}



                                  // index.html.erb

.fixed-area {
  position: -webkit-sticky;
  position: sticky;
  top: 170px;
  height: 100px;
  width: 50px;
  padding-left:0;
  padding-right: 120px;
  display: inline;
}

.recommendation {
  color: gray;
  font-weight: bold;
  margin-right: 90px;
}

.watch-all {
  font-weight: 500;
  font-size: 14px;
  font-weight: bolder;
  float: right;
}

.watch-all-link {
  color: black;
}

.watch-all-link:hover {
  color: black;
  text-decoration: none;
  cursor:pointer;
}

.board-reccommendation-image-size {
  width: 30px;
  height: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
}

.board-reccommendation-image-size:hover {
  cursor: pointer;
}

.boards-index-user-name {
  color: black;
}

.boards-index-user-name:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.boards-index-td-dep {
  text-align: right;
}

.boards-index-dep-font {
  text-align: right;
  color: gray;
  font-size: 12px;
}

.board-index-recommendation-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.board-index-recommendation-image {
  width: 15%;
}

.board-index-recommendation-name {
  width: 20%;
}

.board-index-recommendation-cor {
  width: 65%;
  text-align: right;
}

.zero-search-count { 
  color: gray;
}

.not-zero-search-count {
  color: gray;  
}







                                  
.article-bottom-board {
  padding: 10px;
  position: relative;
}                                

.board-index-wrapper-1000 {
  display: none;
}

.board-top {
  padding-top: 83px;
  margin: 0 auto;
  width: 300px;
}    

.noboard-top {
  padding-top: 77px;
  margin: 0 auto;
  width: 300px;
}              
 
.text-area-submit-button-wrapper {
  display: flex;
}

.board-search-sub {
  width: 207px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  margin-top: 13px;
}

.board-search-prof {
  width: 207px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  margin-top: 13px;
}

.sub-demo-text-area {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 13px;
  width: 207px;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
  margin-right: 4px;
}

.sub-demo-text-area-content {
  color: gray;
  position: relative;
  bottom: 3px;
  right: 8px;
}

.sub-demo-text-area-kakomon {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 13px;
  width: 207px;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
  margin-right: 5px;
}

.sub-demo-text-area-content-kakomon {
  color: gray;
  position: relative;
  bottom: 3px;
  right: 7px;
}

.sub-demo-text-area-login {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 10px;
  width: 160px;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
  margin-right: 5px;
}

.sub-demo-text-area-content-no-login {
  border: 1px solid gray;
    border-radius: 3px;
    padding: 4.5px 155px 4.5px 2px;
    margin-top: 13px;
    outline: none;
    margin-bottom: 10px;
    margin-right: 5px;
    position: relative;
    top: 13px;
    color: gray;
}

.search-prof-wrapper {
  display: none;
}

.sub-search {
  padding: 5px 32px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #dbdbdb;
}

.sub-search:hover {
  cursor:pointer;
}

.prof-search {
  padding: 5px 32px; 
  border: 1px solid gray;
  border-radius: 4px;
}

.prof-search:hover {
  cursor:pointer;
}

.kakomons-index-top-button:hover {
  cursor: pointer;
}

.board-index {
  margin-right: 0;
  padding: 0;
  overflow: hidden;
}

.board-index-1000 {
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
}

.index-board-content {
  width: 80%;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 2px;
  position: relative;
  margin: 20px auto 0 auto;
}

.index-board-content:first-child {
  margin-top: 5px;
}

.index-board-content-no-login {
  width: 60%;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 2px;
  position: relative;
  margin: 20px auto 0 auto; 
}

.board-index-no-login {
  display: flex;
  flex-wrap: wrap;
}

.board-comment {
  font-size: 15px;
  position: relative;
  top: 2px;
}

.board-comment-all {
  display: none;
  position: relative;
  top: 5px;
  font-size: 15px;
}

.board-comment-all-1000 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.board-date {
  color: #8e8e8e;
  font-size: 12px;
  position: relative;
  top:5px;
}

.board-date-show {
  color: #8e8e8e;
  font-size: 12px;
  position: relative;
}

.continue-comment-link {
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link:hover {
  color: gray;
  text-decoration: none;
}

.plus-comment {
  color: gray;
  font-size: 12px;
}

.continue-comment-link:hover {
  text-decoration: none;
  color: gray;
}

.continue-comment-link-1200:hover {
  text-decoration: none;
  color: gray;
}

.continue-comment-link-1000:hover {
  text-decoration: none;
  color: gray;
}

.continue-comment-link-460:hover {
  text-decoration: none;
  color: gray;
}

.board-comment-1200 {
  display: none;
}

.continue-comment-1200 {
  display: none;
}

.continue-comment-1000 {
  display: none;
  position: relative;
  top: 4px;
}
.board-comment-767 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.continue-comment-767 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-767 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-767:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-600 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-600 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-600 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-600:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-480 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-480 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-480 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-480:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-470 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-470 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-470 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-470:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-454 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-454 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-454 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-454:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-441 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-441 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-441 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-441:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-428 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-428 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-428 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-428:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-417 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-417 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-417 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-417:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-401 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-401 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-401 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-401:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-388 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-388 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-388 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-388:hover {
  color: gray;
  text-decoration: none;
}

.board-comment-377 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;
}

.continue-comment-377 {
  display: none;
  position: relative;
  top: 4px;
}

.continue-comment-link-377 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-377:hover {
  color: gray;
  text-decoration: none;
}








.kakomons-show {
  display: none;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 5px;
  cursor: pointer;
  z-index: 52;
  border: none;
  width: 800px;
}

.board-favorites {
  position: relative;
  top: 5px;
}

.end-users-show-board-favorites {
  position: relative;
  top: 2px;
}

.thanks-link:hover {
  text-decoration: none;
}

.not-thanks-link:hover {
  text-decoration: none;
}

.thanks {
  background-color: #009B8E;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
  margin-right: 5px;
  border: 1px solid #009b8e;
}

.not-thanks {
  background-color: white;
  color: #009b8e;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px; 
  border: 1px solid #009b8e;
}

.thanks-count {
  color: #009B8E;
  font-weight: bold;  
}


.search-result {
  text-align: center;
  margin-top: 15px;
  position: relative;
  margin-bottom: 5px;
  bottom: 11px;
}

.search-result-sub {
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.search-result-prof {
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.search-clear-button {
  padding: 4px 10px;
  margin-left: 10px;
  color: black;
}

.search-clear-button:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}




                              // show.html.erb


.board-show {
  padding: 10px;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin: 0 auto;
}

.boars-show-user-info {
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: white;
  position: relative;
}

.board-index-show {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.board-show-comment {
  position: relative;
  top: 4px;
  padding-bottom: 20px;
  font-size: 15px;
  width: 370px;
}



.board-show-date {
  color: #8e8e8e;
  font-size: 12px;
}

.board-comment-scroll {
  height: 478.5px;
  overflow: scroll;
  padding-top: 10px;
}

.board-comment-1200 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.continue-comment {
  position: relative;
  top: 4px;
}

.continue-comment-1200 {
  position: relative;
  top: 4px;
}

.continue-comment-link:hover {
  cursor:pointer;
}

.continue-comment-link-1200 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-1200:hover {
  cursor:pointer;
}

.continue-comment-link-1000 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link-1000:hover {
  cursor:pointer;
}

.board-comment-1000 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}


.board-comment-1000-all {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.continue-comment-link-1000 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.board-comment-460 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;

}
.continue-comment-link-460 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}








.end-user-report-modal {
  display: none;
}

.max-width-1000-boards-show {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  height: 1000px;
  z-index: 53;
  background-color: #fafafa;
  border: none;
  margin: 0 auto;
  display: none;
}

.boards-show-content-1000 {
  margin: 0 auto;
  padding-top: 50px;
}

.board-comment-content  {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.board-no-comment {
  color: gray;
  font-size: 14px;
}

.board-show-no-comment {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

.boards-no-comment {
  color: gray;
  font-size: 14px;
  padding-left: 10px;
}

.board-comment-index {
  padding: 10px 5px;
  height: 285px;
  overflow: scroll;
}

.index-boards-show-link {
  color: black;
  font-weight: normal;
  text-align: center;
}

.index-boards-show-link:hover {
  text-decoration: none;
  color: black;
}

.fa-check {
  padding: 7px 8px;
  border: 2px solid rgb(88, 195, 34);
  border-radius: 20px;
  color: rgb(88, 195, 34);
  font-size: 19px;
  margin: 10px auto 5px auto;
}

.thanks-report {
  font-weight: bold;
}

.thanks-report-content {
  color: gray;
  font-size: 14px;
  padding: 10px;
}

.thanks-report-close-button {
  position: relative;
  bottom: 7px;
  color: white;
  background-color: #0095f6;
  margin: 5px 20px 5px 20px;
  border-radius: 5px;
  border: none; 
}

.article-bottom-noboard {
  padding: 10px 10px 0 10px;
  position: relative;
}

.noboard-date {
  color: #8e8e8e;
  font-size: 12px;
}

.noboard-index {
  margin: 20px auto 0 auto;
}

.nokakomon-index {
  margin: 30px auto 0 auto;
}





@media screen and (max-width: 1200px) {
  .board-comment {
    display: none;
  }
  .continue-comment {
    display: none;
  } 
  .continue-comment-link {
    display: none;
  }  
  .board-comment-1200 {
    display: inline;
  }
  .continue-comment-1200 {
    display: inline;
  } 
  .continue-comment-link-1200 {
    display: inline;
  }  
  .index-board-content-no-login {
    width: 70%;
  }
  .fixed-area {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .index-board-content {
    margin: 10px auto;
    width: 70%;
  }
  .board-comment-1200 {
    display: none;
  }
  .continue-comment-link-1200 {
    display: none;
  }
  .board-comment-1000 {
    display: block;
  }
  .continue-comment-1000 {
    display: inline;
  }
  .continue-comment-link-1000 {
    display: block;
  }
  .board-comment-1000 {
    display: inline;
  }
  .continue-comment-link-1000 {
    display: inline;
  }
  .form1 img {
    width: 14px;
  }
  .noboards-index-wrapper {
    display: none;
  }
  .boards-index-wrapper {
    display: none;
  }
  .board-index-wrapper-1000 {
    display: block;
  }
  .board-index {
    margin: 0 auto;
  }
}

@media screen and (max-width:991px) {
  .index-board-content {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .index-board-content {
    width: 90%;
    font-size: 14px;
  }
  .board-comment-1200{
    font-size: 13px;
  }
  .board-comment-link-1200 {
    font-size: 13px;
  }
  .board-comment-767 {
    display: none;
  }
  .continue-comment-767 {
    display: none;
  }
  .continue-comment-link-767 {
    display: none;
  }
  .board-comment-600 {
    display: inline;
  }
  .continue-comment-600 {
    display: inline;
  }
  .continue-comment-link-600 {
    display: inline;
  }
  .form1 {
    letter-spacing: 6.8px;
  }
  .form3 {
    letter-spacing: 1.1px;
  }
  .form1-new {
    letter-spacing: 6.7px;
  }
  .form3-new {
    letter-spacing:0.35px;
  }
  .comment-wrapper-1000 {
    font-size: 14px;
  }
  .board-comment-1000 {
    font-size: 13px;
  }
  .board-comment-all-1000 {
    font-size: 13px;
  }
  .board-show-comment {
    font-size: 14px;
  }
  .thanks-link {
    font-size: 14px;
  }
  .not-thanks-link { 
    font-size: 14px;
  }
  .thanks {
    padding: 1px 5px;
  }
  .not-thanks {
    padding: 1px 5px;
    position: relative;
  }
  .thanks-count {
    font-size: 14px;
    padding: 1px 5px;
  }
}

@media screen and (max-width:500px) {
  .index-board-content {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .board-comment-600 {
    display: none;
  }
  .continue-comment-600 {
    display: none;
  }
  .continue-comment-link-600 {
    display: none;
  }
  .board-comment-480 {
    display: inline;
  }
  .continue-comment-480 {
    display: inline;
  }
  .continue-comment-link-480 {
    display: inline;
  }
}

@media screen and (max-width: 470px) {
  .board-comment-480 {
    display: none;
  }
  .continue-comment-480 {
    display: none;
  }
  .continue-comment-link-480 {
    display: none;
  }
  .board-comment-470 {
    display: inline;
  }
  .continue-comment-470 {
    display: inline;
  }
  .continue-comment-link-470 {
    display: inline;
  }
}

@media screen and (max-width: 470px) {
  .board-comment-470 {
    display: none;
  }
  .continue-comment-470 {
    display: none;
  }
  .continue-comment-link-470 {
    display: none;
  }
  .board-comment-454 {
    display: inline;
  }
  .continue-comment-454 {
    display: inline;
  }
  .continue-comment-link-454 {
    display: inline;
  }
}

@media screen and (max-width: 454px) {
  .board-comment-454 {
    display: none;
  }
  .continue-comment-454 {
    display: none;
  }
  .continue-comment-link-454 {
    display: none;
  }
  .board-comment-441 {
    display: inline;
  }
  .continue-comment-441 {
    display: inline;
  }
  .continue-comment-link-441 {
    display: inline;
  }
}

@media screen and (max-width: 441px) {
  .board-comment-441 {
    display: none;
  }
  .continue-comment-441 {
    display: none;
  }
  .continue-comment-link-441 {
    display: none;
  }
  .board-comment-428 {
    display: inline;
  }
  .continue-comment-428 {
    display: inline;
  }
  .continue-comment-link-428 {
    display: inline;
  }
}

@media screen and (max-width: 428px) {
  .board-comment-428 {
    display: none;
  }
  .continue-comment-428 {
    display: none;
  }
  .continue-comment-link-428 {
    display: none;
  }
  .board-comment-417 {
    display: inline;
  }
  .continue-comment-417 {
    display: inline;
  }
  .continue-comment-link-417 {
    display: inline;
  }
}

@media screen and (max-width: 417px) {
  .board-comment-417 {
    display: none;
  }
  .continue-comment-417 {
    display: none;
  }
  .continue-comment-link-417 {
    display: none;
  }
  .board-comment-401 {
    display: inline;
  }
  .continue-comment-401 {
    display: inline;
  }
  .continue-comment-link-401 {
    display: inline;
  }
}

@media screen and (max-width: 401px) {
  .board-comment-401 {
    display: none;
  }
  .continue-comment-401 {
    display: none;
  }
  .continue-comment-link-401 {
    display: none;
  }
  .board-comment-388 {
    display: inline;
  }
  .continue-comment-388 {
    display: inline;
  }
  .continue-comment-link-388 {
    display: inline;
  }
}

@media screen and (max-width: 388px) {
  .board-comment-388 {
    display: none;
  }
  .continue-comment-388 {
    display: none;
  }
  .continue-comment-link-388 {
    display: none;
  }
  .board-comment-377 {
    display: inline;
  }
  .continue-comment-377 {
    display: inline;
  }
  .continue-comment-link-377 {
    display: inline;
  }
}



