// Place all the styles related to the kakomons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

                      // new.html.erb
  
.kakomon-new-content {
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 50px;
  overflow: hidden;
}                    

.kakomon-new-content h3 {
  margin-left: 100px;
}

.select-past {
  padding-top: 20px;
  padding-bottom: 20px;
}

.past-paper {
  border: 1px solid gray;
  background-color: #dbdbdb;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
}

.past-paper:hover {
  cursor: pointer;
}

.past-class {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 3px;
}

.past-class:hover {
  cursor: pointer;
}

.past-class-link {
  color: black;
}

.past-class-link:hover {
  text-decoration: none;
  color: black;
}

.image-count {
  font-size: 14px;
  color: gray;
}

.index-profile-image {
  border: 1px solid #dbdbdb;
}

.index-profile-image-link:hover {
  text-decoration: none;
}

.file-name {
  width: 300px;
}

.image1 {
  padding-top: 5px;
}

.image2 {
  display: none;
  padding-top: 9px;
}

.image3 {
  display: none;
  padding-top: 9px;
}

.image4 {
  display: none;
  padding-top: 9px;
}

.image5 {
  display: none;
  padding-top: 9px;
}

.add-image2 {
  color: #0095F6;
  font-size: 15px;
  margin-top: 8px;
  display: block;
}

.add-image2:hover {
  cursor: pointer;
}

.add-image3 {
  color: #0095F6;
  font-size: 15px;
  margin-top: 8px;
  display: none;
}

.add-image3:hover {
  cursor: pointer;
}

.new-container {
  width: 500px;
  margin: 0 auto;
}

.new-container li {
  list-style: none;
}


.kakomon-new {
  margin-top: 10px;
}

.new-container ul {
  padding-left: 0;
}

.year {
  width: 150px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}

.departments,.courses {
  width: 240px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}

.sub-new {
  width: 240px;
  height: 30px;
}

.prof-new {
  width: 240px;
  height: 30px;
}

.comment-new {
  width: 350px;
  height: 100px;
  resize: none;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.kakomon-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.kakomon-submit:hover {
  color: white;
  background-color: #a9a9a9;
  filter: brightness(110%);
}




.new-board {
  display: none;
}

                          // index.html.erb

.kakomon-index {
  margin: 0 auto;
}

.index-kakomon-content {
  width: 45%;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 2px;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}


.depSelector {
  width: 350px;
  padding-top: 70px;
  margin: 0 auto;
  text-align: left;
}

.article-top {
  padding:10px;
  border-bottom: 1px solid #dbdbdb;
}

.kakomons-index-top-button {
  margin-left: 200px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.index-profile-image {
  border-radius: 20px;
  margin-right: 5px;
}

.article-body {
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.fa-clone {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  z-index:1.5;
}

.image-link:hover{
  opacity: 0.9;
}

.article-bottom {
  padding: 10px;
}

.kakomon-user-name {
  font-weight: 500;
  margin-right: 10px;
}

.kakomons-index-image-size {
    width: 100%;
    height: 580px;
}

.comment-count {
  color: #8e8e8e;
  font-size: 15px;
}

.kakomon-show-link:hover {
  text-decoration: none;
  color: gray;
}

.kakomon-date {
  color: #8e8e8e;
  font-size: 12px;
}

.article-comment {
  padding: 5px;
  position: relative;
  height: 50px;
}

.form {
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  width: 300px;
  height: 30px;
  line-height: 20px;
  padding-top: 9px;
}

.comment-submit {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #0095F6;
  position: absolute;
  top: 8px;
  right: 5px; 
  line-height: 20px;
}

.comment-submit:hover {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #0095F6;
}

.search {
  width: 198px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.no-kakomon-search-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
  height: 30px;
  position: relative;
  top: 10px;
}

.no-board-search-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
  height: 30px;
  position: relative;
  top: 10px;
}

.no-board-search-submit:hover {
  cursor: pointer;
}

.no-kakomon-search-submit-clear {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}

.no-kakomon-search-submit-clear:hover {
  color: white;
  text-decoration: none;
}

.no-kakomon-search-submit-no-login {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
  height: 30px;
  position: relative;
  top: 10px;
}

.no-kakomon-search-submit:hover {
  cursor:pointer;
}

.no-kakomon-search-submit-no-login:hover {
  cursor:pointer;
}

.no-kakomon-message {
  font-size: 14px;
  color: red;
}

.sub-search-submit{
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
}

.prof-search-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
}


.no-change-search {
    color: white;
    background-color: #a9a9a9;
    padding: 5.5px 10px;
    border: none;
    border-radius: 4px;
    opacity: 0.6;
}

.no-change-search:hover {
  cursor: pointer;
}

.no-kakomon {
  color:gray;
  width: 200px;
  margin: 20px auto;
}


.pagenate {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.page-number {
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  font-size: 20px;
}


                                // show.html.erb
                
.kakomons-show-wrapper {
  overflow: hidden; 
} 

.kakomons-show {
  padding-top: 110px;
  margin: 0 auto;
  width: 100%;
}

.kakomons-show-1000 {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}                                

.kakomons-show-content {
  display: flex;
  position: relative;
  margin: 100px 0 0 0;
  width: 800px;
}                      

// モーダル
.index-modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.index-modal-bg-1000 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 4;
}

.index-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  background-color: #fff;
  border: none;
  text-align: center;
}

.end-users-index-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  border: none;
  text-align: center;
}

.report-reason-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  border: none;
  text-align: center;
}

.index-modal-1000 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  border: none;
  text-align: center;
}

.no_scroll {
  overflow: hidden;
}

.kakomon-delete {
  padding: 10px;
  font-weight: bold;
}

.kakomon-delete-link {
  color:#ed4956;
}

.kakomon-delete-link:hover {
  color:#ed4956;
  text-decoration: none;
}

.index-kakomons-show-link {
  color: black;
  font-weight: normal;
  text-align: center;
}

.index-kakomons-show-link:hover {
  text-decoration: none;
  color: black;
}

.kakomons-show-link-hr {
  border-top: 1px solid #dbdbdb;
  padding: 10px;
  height: 44px;
}

.kakomons-show-link-hr-other-user {
  padding: 10px;
  height: 44px;
}

.kakomon-report {
  padding: 10px;
  font-weight: bold;
  color:#ed4956;
  background-color: white;
  border: none;
}

.kakomon-report:hover {
  text-decoration: none;
  color:#ed4956;
}

.index-modal-close-button {
  padding: 10px;
  border-top: 1px solid #dbdbdb;
}

// イメージ
.slideshow {
  border: 1px solid #dbdbdb;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  width: 400px;
  position: relative;
}

.slide {
  width: 100%;
  display: flex;
}

.kakomons-show-image-size {
  width: 400px;
  height: 585.5px;
}

.prev {
  position: absolute;
  top: 277px;
  left: 7px;
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 6px;
  border-radius: 15px;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
}

.prev:hover {
  cursor: pointer;
}

.next {
  position: absolute;
  top: 277px;
  left: 371px;
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 7px;
  border-radius: 15px;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
}

.next:hover {
  cursor: pointer;
}

.disabled {
  display: none;
}

.prev-420 {
  position: absolute;
  top: 240px;
  left: 7px;
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 6px;
  border-radius: 15px;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
}

.next-420 {
  position: absolute;
  top: 240px;
  left: 320px;
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 7px;
  border-radius: 15px;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
}

.slideshow-slides {
  width: 1200px;
  display: flex;
  position: relative;
}


// コメント
.comment-wrapper {
  border: 1px solid #dbdbdb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none; 
  width: 400px;
  position: relative;
  background-color: white;
  position: relative;
}

.kakomons-show-user-info {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.kakomons-show-user-name {
  padding-left: 10px; 
  font-size: 16px;
}

.kakomons-show-user-following {
  padding-left: 20px;
  color: black;
}

.kakomons-show-user-following:hover {
  text-decoration: none;
  color: black;
}

.kakomons-show-user-followed {
  padding-left: 20px;
  font-weight: bold;
  color: #0095f6;
}

.kakomons-show-user-followed:hover {
  text-decoration: none;
  padding-left: 20px;
  font-weight: bold;
  color: #0095f6;
}

.kakomons-show-top-button {
  margin-left: 200px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.kakomons-show-top-button:hover {
  cursor: pointer;
}

.kakomons-show-top-button-1000 {
  margin-left: 200px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.kakomons-show-top-button-1000:hover {
  cursor: pointer;
}

.comment-scroll {
  height: 478.5px;
  overflow: scroll;
}

.kakomon-exp {
  padding: 10px;
}

.no-comment {
  color: gray;
  padding-left: 10px;
  padding-bottom: 16px;
}

.kakomon-comment-content {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.kakomon-show-date {
  font-size: 12px;
  color: gray;
}

.kakomon-comment-content p {
  margin: 0;
}

.kakomon-comment-name {
  margin-left: 15px;
}

.other-user-comment {
  margin-left: 10px;
}

.comment-user-name {
  margin-left: 10px;
}

.other-user-comment-content {
  margin-left: 10px;
  margin-right: 15px;
}

.other-user-comment-content p {
  margin-bottom: 0;
}

.delete-comment {
  font-size: 11px;
  margin-left: 20px;
}

.delete-comment-link {
  color: gray;
}

.delete-comment-link:hover {
  color: gray;
  text-decoration: none;
}

.kakomons-show-comment-new {
  border-top: 1px solid #dbdbdb; 
  width: 100%;
  position: absolute;
  bottom: 0;
}

.kakomons-show-text-area {
  width: 320px;
  height: 50px;
  resize: none;
  border: none;
  outline: none;
}


.kakomons-show-comment-submit {
  position: absolute;
  bottom: 16px;
  right: 5px;
  background-color: white;
  border: none;
  color: #0095f6;
  font-weight: bold;
} 

.max-width-1000 {
  display: none;
  overflow: hidden;
}

.kakomons-show-content-1000 {
  margin: 0 auto;
}

.kakomons-show-user-info-1000 {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.comment-wrapper-1000 {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  border-bottom: none;
  width: 400px;
  position: relative;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.slideshow-1000 {
  overflow: hidden;
  width: 398px;
  position: relative;
}


.kakomons-show-image-size-1000 {
  width: 400px;
  height: 585.5px;
}

.kakomons-show-comment-new-1000 {
  border-top: 1px solid #dbdbdb; 
  border-bottom: 1px solid #dbdbdb;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.comment-scroll-1000 {
  height: 180px;
  overflow: scroll;
  margin: 0 auto;
  border-top: 1px solid #dbdbdb;
}

.comment-scroll-1000-no-comment{
  height: 300px;
  overflow: scroll;
  margin: 0 auto;
  border-top: 1px solid #dbdbdb;
}

.kakomons-show-comment-submit-1000 {
  position: absolute;
  bottom: 16.5px;
  right: 5px;
  background-color: white;
  border: none;
  color: #0095f6;
  font-weight: bold;
}

.slideshow-420 {
  width: 350px;
  display: none;
  overflow: hidden;
  position: relative;
}


.kakomons-show-image-size-420 {
  width: 348px;
  height: 512px;
}


@media (max-width:1200px) {
  .kakomons-index-image-size {
    height: 513px;
  }
}

@media (max-width:1000px) {
  .kakomons-index-image-size {
    height: 352px;
  }
  .article-bottom {
    padding: 5px 10px;
  }
  .article-top {
    padding: 5px 10px;
  }
  .kakomons-show-wrapper{
    display: none;
  }
  .max-width-1000 {
    display: block;
  }
  .kakomons-index-top-button {
    top: 8px;
  }
  .kakomons-show-top-button {
    top: 14px;
  }
}

@media (max-width:770px) {
  .kakomons-index-image-size {
    height: 310px;
  }
}

@media (max-width: 600px) {
  .kakomon-index{
    flex-direction: column;
  }
  .index-kakomon-content {
    width: 100%;
    margin: 10px auto;
  }
  .kakomons-index-image-size{
    height: 430px;
  }
  .article-bottom {
    font-size: 13px;
  }
  .kakomons-show-comment-submit-1000 {
      bottom: 17px;
  }
  .kakomons-index-top-button {
    font-size: 14px;
    top: 9px;
  }
}

@media (max-width:520px) {
  .new-container {
    width: 400px;
    margin: 0 auto;
  }
  .kakomon-new-content {
    padding-left: 20px;
  }             
}

@media (max-width:450px) {
  .depSelector{
    margin-left: 40px;
    width: 300px;
  }
  .prof-new {
    width: 230px;
  }
}

@media (max-width:430px) {
  .new-container {
    width: 300px;
    margin: 0 auto;
  }
  .kakomon-new-content {
    padding-left: 0;
  }             
  .comment-new {
    width: 300px;
  }
}

@media (max-width:420px) { 
  .comment-wrapper-1000 {
    width: 350px;
  }
  .comment-wrapper-1000 {
    width: 350px;
  }
  .slideshow-1000{
    display: none;
  }
  .slideshow-420 {
    display: block;
  }
  .kakomons-show-text-area {
    width: 270px;
  }
}

@media (max-width:410px) {
  .depSelector{
    margin-left: 20px;
  }
}

@media (max-width:400px) {
  
}

@media (max-width:390px) {
  
}

@media (max-width:380px) {
  
}