.notification-profile-image {
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    margin-right: 5px;
}

.no-notification-wrapper {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.no-notification {
    color: gray;
}

.circle-1200 {
    position: absolute;
    color: red;
    font-size: 16px;
    top: -10px;
    left: 14px;
}

.circle-1200-big {
    position: absolute;
    color: red;
    font-size: 20px;
    top: -11.5px;
    left: 16px;
}

.circle-550-big {
    position: absolute;
    color: red;
    font-size: 20px;
    top: -11.5px;
    left: 16px;
}

.uncheckedCount-1200 {
    position: absolute;
    color: white;
    font-size: 14px;
    top: -1.8px;
    left: 17.5px;
}

.uncheckedCount-550 {
    position: absolute;
    color: white;
    font-size: 14px;
    top: -1px;
    left: 37.5px;
}

.circle-1200-font {
    background-color: red;
}

.circle-550 {
    position: absolute;
    color: red;
    font-size: 16px;
    top: -9px;
    left: 34px;
}

.fa-stack {
    display: inline;
    height: 2em;
    width: 2.5em;
    line-height: 0;
}

.notification-wrapper {
    margin: 0 auto;
    padding-top: 80px;
}

.notifications-index-wrapper {
    margin: 0 auto;
}

.notification-time-ago {
    color:gray;
    font-size: 14px;
}

.notification-contents {
    display: flex;
}


.notification-content-image {
    width: 20%;
    line-height: 60px;
    text-align: center;
}

.notification-content {
    width: 45%;
}

.notification-content-follow {
    width: 35%;
    line-height: 60px;
    position: relative;
    top: 20px;
}

.notification-profile-image-visitor {
    border: 1px solid #dbdbdb;
    border-radius: 40px;
}

.visitor-name {
    color: black;
}

.visitor-name:hover {
    color: black;
    text-decoration: none;
}

@media (max-width:1000px) {
    .notification-content {
        font-size: 13px;  
    }
}