// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/







// index.html.erb


.rooms-index-wrapper {
    padding-top: 90px;
    padding-bottom: 20px;
}
.rooms-index-left {
    border: 1px solid #dbdbdb;
    margin-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 600px;
    background-color: white;
    padding: 10px 0 0 0;
    line-height: 65px;
}

.rooms-index-right {
    border: 1px solid #dbdbdb;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 0;
    height: 600px;
    background-color: white;
    padding: 0;
}

.rooms-content {
    height: 70px;
    line-height: 70px;
    position: relative;
}

.rooms-content-at {
    height: 70px;
    line-height: 70px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
}


.rooms-index-profile-image {
    width: 55px;
    height: 55px;
    border: 1px solid #dbdbdb;
    border-radius: 35px;
    margin-left: 20px;  
}

.rooms-index-top-name-link {
    color: black;
    position: relative;
    bottom: 5px;
}

.last-message {
    position: absolute;
    top: 38px;
    left: 85px;
    height: 20px;
    line-height: 15px;
    color: gray;
}

.rooms-index-top-name {
    bottom: 7px;
    margin-left: 5px;
    position: relative;
    color: black;
}

.message-area {
    height: 460px;
    width: 569px;
    border-bottom: 1px solid #dbdbdb;
    overflow: scroll;
    padding-bottom: 10px;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
.message-area::-webkit-scrollbar{
   display: none;
}


.rooms-show-form {
    position: relative;
}

.rooms-index-paper-plane {
    font-size: 30px;
    position: relative;
    left: 19px;
}

.rooms-index-message {
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px 5px;
    border-radius: 60px;
    width: 85px;
    margin: 40% auto 0 auto;
}

.rooms-index-right-message {
    text-align: center;
}

.message-font {
    font-weight: bold;
}

.message-content-font {
    color: gray;
    font-size: 14px;
}








.room-index {
    background-color: white;
    width: 500px;
    height: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 10px auto;
}

.no-dm {
    padding-top: 40px;
    width: 200px;
    margin: 0 auto;
    color: gray;
}

.rooms-show-link {
    color: black;
}

.rooms-show-link:hover {
    color: black;
    text-decoration: none;
}


.no-rooms-wrapper {
    display: flex;
}

.no-rooms-message {
    height: 30px;
    margin-left: 15px;
}

.no-rooms-message-long {
    background-color: #efefef;
    height: 15px;
    width: 150px;
    position: relative;
    top: 15px;
    border-radius: 5px;
}

.no-rooms-message-short {
    background-color: #efefef;
    height: 15px;
    width: 100px;
    position: relative;
    bottom: 46px;
    border-radius: 5px;
}






// show.html.erb

.rooms-show {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.back-rooms-index {
    margin-right: 100px;
    margin-left: 320px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.back-rooms-index-link:hover {
    text-decoration: none;
    color: black;
}

.message-top {
    text-align: center;
}

.rooms-show-profile-image {
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.rooms-show-profile-image-link:hover {
    text-decoration: none;
}

.rooms-show-top-name {
    bottom: 7px;
    margin-left: 5px;
    position: relative;
    bottom: 3px;
    color: black;
}

.rooms-show-top-name-link {
    color: black;
}

.rooms-show-top-name-link:hover {
    color: black;
    text-decoration: none;
}


.message-content {
    padding-left: 15px;
}

.message-user-name {
    margin-left: 20px;
}


.message-text-area {
    width: 515px;
    height: 78px;
    resize: none;
    outline: none;
    border: none;
}

.message-created-at {
    font-size: 13px;
    color: gray;
    position: relative;
    bottom: 5px;
}

.no-dm-message {
    color: gray;    
    text-align: center;
    padding: 5px;
}

.message-submit {
    position: absolute;
    top: 26px;
    right: 5px;
    border: none;
    background-color: white;
    outline: none;
    font-weight: 600;
    color: #0095F6;
}

.current_user-wrapper {
    text-align: right;
}

.current_user {
    position: relative;
    text-align: left;
    width: fit-content;
    margin: 10px 10px 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 7px 7px 7px 10px;
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb;
}

.current_user-width {
    max-width: 300px;
}

.visited_user-wrapper {
    position: relative;
}

.message-profile-image {
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 4px;
    margin: 5px 10px;
    border-radius: 20px;
}

.visited_user {
    background-color: white;
    border: 1px solid #dbdbdb;
    padding: 7px 10px;
}

.visited_user-width {
    max-width: 300px;
}

.fukidasi {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-left: 55px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;
}

.last-message {
    font-size: 14px;
}



.visited_user::after {
    left: -15px;    
    border-radius: 0 0px 10px 16px;
    box-shadow: -8px -14px 0 -8px #87cefa inset;
}

 .current_user::after {
    right: -15px;
    border-radius: 0 0px 16px 10px; 
    box-shadow: 8px -14px 0 -8px #00ff7f inset;
}

.current_user-time {
    position: absolute;
    font-size: 12px;
    color: gray;
    width: 100px;
    bottom: -2px;
    left: -59px;
    font-weight: thin;
}

.current_user-check {
    position: absolute;
    font-size: 12px;
    color: gray;
    bottom: 13px;
    left: -36px;
    font-weight: thin;
}

.visited_user-time {
    position: absolute;
    font-size: 12px;
    color: gray;
    width: 70px;
    bottom: 1px;
    right: -75px;
}

.rooms-index-right-top {
    border-bottom: 1px solid #dbdbdb;
    height: 60px;
}

.rooms-show-profile-image-top {
    width: 25px;
    height: 25px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    margin-left: 20px; 
    position: relative;
    top: 13px;
}

.rooms-show-top-name {
    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}

.rooms-show-end-user-link {
    color: black;
}

.rooms-show-end-user-link:hover {
    text-decoration: none;
    color: black;
}

.rooms-show-message-wrapper {
    vertical-align: bottom;
}

.message-content-wrapper {
    align-items:flex-end;
}

.no-rooms-user-image-size {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background-color: #efefef;
    border-radius: 30px;
    background-color: #efefef;
    margin-top: 6px;
    margin-left: 20px;
}





@media(max-width:1200px){
    .back-rooms-index {
        margin-left: 230px;
    }
    .message-area {
        width: 500px;
        margin: 0 auto;
    }
}

@media(max-width:1000px) {
    .back-rooms-index {
        margin-left: 110px;
    }
}

@media(max-width:770px) {
    .back-rooms-index {
        margin-left: 25px;
    }
}

@media(max-width:600px) {
    .room-index {
        width: 400px;
    }
    .message-area {
        width: 450px;
    }
    .back-rooms-index {
        margin-left: 40px;
    }
    .current_user-width{
        max-width: 240px;
    }
    .visited_user-width{
        max-width: 240px;
    }
    .rooms-show-form {
        width: 450px;
    }
    .message-text-area {
        width:400px;
    }
    .current_user-width {
        font-size: 13px;
    }
    .visited_user-width {
        font-size: 13px;
    }
}

@media(max-width:550px) {
    .message-area {
        width: 400px;
    }
    .back-rooms-index {
        margin-left: 60px;
        margin-right: 60px;
    }
    .message-text-area{
        width: 300px;
    }
    .current_user-width{
        max-width: 230px;
    }
    .visited_user-width{
        max-width: 230px;
    }
    .back-rooms-index {
        margin-left: 70px;
    }
    .rooms-show-form {
        width: 400px;
    }
    .message-text-area {
        width: 350px;
    }
}

@media(max-width: 500px){
    .no-dm{
        margin-left: 160px;
    }
    .room-index {
        width: 300px;
        height: 60px;
    }
    .message-area {
        width: 100%;
    }
    .back-rooms-index {
        margin-left:  10px;
        margin-right: 80px;
    }
    .rooms-show-form {
        width: 100%;
    }
    .message-text-area {
        width: 410px;
    }
}

@media(max-width: 490px){
    .message-text-area {
        width: 400px;
    }
}

@media(max-width: 480px){
    .message-text-area {
        width: 390px;
    }
}

@media(max-width: 470px){
    .message-text-area {
        width: 380px;
    }
}

@media(max-width: 460px){
    .message-text-area {
        width: 370px;
    }
}

@media(max-width: 450px){
    .no-dm{
        margin-left: 130px;
    }
    .back-rooms-index {
        margin-right: 50px;
    }
    .message-text-area {
        width: 360px;
    }
}

@media(max-width: 440px){
    .message-text-area {
        width: 350px;
    }
}

@media(max-width: 430px){
    .no-dm{
        margin-left: 120px;
    }
    .current_user-width{
        max-width: 200px;
    }
    .visited_user-width{
        max-width: 200px;
    }
    .message-text-area {
        width: 340px;
    }
}

@media(max-width: 420px){
    .message-text-area {
        width: 330px;
    }
}

@media(max-width: 410px){
    .message-text-area {
        width: 320px;
    }
}

@media(max-width: 400px){
    .no-dm{
        margin-left: 110px;
    }
    .back-rooms-index {
        margin-right: 30px;
    }
    .current_user-width{
        max-width: 180px;
    }
    .visited_user-width{
        max-width: 180px;
    }
    .message-text-area {
        width: 310px;
    }
}

@media(max-width: 390px){
    .no-dm{
        margin-left: 100px;
    }
    .message-text-area {
        width: 300px;
    }
}

@media(max-width: 380px){
    .message-text-area {
        width: 290px;
    }
}

@media(max-width: 370px){
    .current_user-width{
        max-width: 170px;
    }
    .visited_user-width{
        max-width: 170px;
    }
}