@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.registrations {
  padding-top: 70px;
  padding-left: 50px;
  margin: 0 auto;
  min-height: 837px;
  width: 350px;
}                             

.registrations-alert {
  color: gray;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: -20px;
}

.sessions {
  padding-top: 70px;
  padding-left: 50px;
  margin: 0 auto;
  min-height: 837px;
  width: 350px;
}

.sessions-alert {
  margin-top: 50px;
  color: gray;
}

.sessions-aokako-font {
  color: gray;
  font-family: 'Apple Chancery';
  font-weight: bold;
}

.new-user{
  padding-left: 100px;
}

.actions {
  margin-top: 20px;
}

label {
  margin-bottom: 0;
  margin-top: 10px;
}

ul {
  padding: 0;
}

#error_explanation li {
  color: red;
}

.text-field_width {
  width: 230px;
  height: 30px;
}

                                        // application.html.erb

.error li {
  list-style: none;
}                  
                      
#header {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  z-index: 1;
  background-color: #fafafa;
}

#header li {
  list-style: none;
  line-height: 20px;
}

.aokako-font {
  font-size: 27px;
  color: black;
  font-family: 'Apple Chancery';
  margin-left: 250px;
  font-weight: bold;
  position: relative;
  top: 20px;
}

.aokako-font:hover {
  text-decoration: none;
  color: black;
}

.header-right li{
  float: right;
  position: relative;
  bottom: 19px;
}

.login-header-right li {
  float: right;
  position: relative;
  bottom: 19px;
}

.login-font {
  color: black;
  margin-right: 30px;
}

.login-font:hover {
  text-decoration: none;
  color:black;
}

.signin-font {
  color: black;
  margin-right: 250px;
}

.signin-font:hover {
  text-decoration: none;
  color: black;
}

.no-login-fa-file {
  color: black;
  font-size: 20px;
  margin-right: 50px;
}

.no-login-fa-chalkboard-user {
  color: black;
  font-size: 20px;
  margin-right: 50px;
}

#end-user-fa-file {
  margin-right: 40px;
}

#end-user-fa-chalkboard-user {
  margin-right: 40px;
}

.fa-file {
  font-size: 20px;
  color: black;
}

.fa-file:hover {
  text-decoration: none;
  color: black;
}

.file-1200 {
  margin-right: 40px;
}

.chalkboard-user-1200 {
  margin-right: 40px;
}

.fa-chalkboard-user {
  color: black;
  font-size: 20px;
}

.fa-chalkboard-user:hover {
  color: black;
  font-size: 20px;
}

.fa-comment {
  color: black;
  margin-right: 40px;
  font-size: 20px;
}

.fa-user-plus {
  color: black;
  margin-right: 40px;
  font-size: 20px;
}

.plus {
  color: white;
  background-color: black;
  border-radius: 3px;
  margin-right: 40px;
  padding: 1px 2px 1px 2px;
}

.plus:hover {
  text-decoration: none;
  color: white;
}

.fa-plus {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-right: 40px;
  font-size: 15px;
  padding: 1px 2px;
  position: relative;
  top: 1px;
}

.fa-heart {
  color: black;
  margin-right: 40px;
  font-size: 20px;
}

.notifications {
  position: relative;
}

.notifications-count {
  color: white;
  position: absolute;
  z-index:2;
  top: -9px;
  right: -5px;
  font-size: 10px;
  padding: 0 5px;
}

.notifications-bg {
  background-color: #ff4500;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  top: -3px;
  right: -8px;
  padding: 0 8px;
  height: 15px;
}

.nav-profile-image-1200 {
  margin-right: 250px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  position: relative;
  bottom: 3px;

}

#body {
  background-color: #fafafa;
  min-height: 900px;
}

.fotter {
  padding-top: 80px;
}

.header-max-width-550 {
  display: none;
}

.header-max-width-550-content {
  display: flex;
  text-align: center;
  flex:auto;
}

.header-max-width-550-content li {
  line-height: 28px;
  width: 16.6%;
  padding-top: 17px;
}

#end_user-fa-file-550 {
  color: black;
  font-size: 20px;
}

#end-user-fa-chalkboard-user-550 {
  color: black;
  font-size: 20px;
}

.file-550 {
  position: relative;
  left: 20px;
}

.chalkboard-user-550 {
  position: relative;
  left: 20px;
}

.plus-550 {
  position: relative;
  left: 20px;
}

.heart-550 {
  color: black;
  font-size: 20px;
  position: relative;
  left: 20px;
}

.comment-550 {
  color: black;
  font-size: 20px;
  position: relative;
  left: 20px;
}

.header-max-width-1200 {
  width: 100%;
}




@media (max-width:1200px) {
  .aokako-font{
    margin-left: 200px;
  }
  .signin-font {
    margin-right: 200px;
  }
  .nav-profile-image-1200 {
    margin-right: 200px;
  }
}

@media (max-width:1100px) {
  .aokako-font{
    margin-left: 100px;
  }
  .signin-font {
    margin-right: 100px;
  }
  .nav-profile-image-1200 {
    margin-right: 100px;
  }
}

@media (max-width:1000px) {

}

@media (max-width:900px) {

}

@media (max-width:800px) {

}

@media (max-width:750px) {
  .login-font {
    margin-right: 20px;
  }
  .fa-file {
    margin-right: 40px;
  }
  .fa-chalkboard-user {
    margin-right: 40px;
  }
}

@media (max-width:700px) {
  .aokako-font {
    margin-left:50px;
  }
  .nav-profile-image-1200 {
    margin-right: 50px;
  }
}

@media (max-width:600px) {
  .signin-font {
    margin-right: 50px;
  }
}

@media (max-width:550px) {
  .header-max-width-1200 {
    display: none;
  }
  .header-max-width-550 {
    display: inline;
    display: flex;
  }
}

@media (max-width:500px) {
  .aokako-font{
    margin-left: 30px;
  }
  .signin-font {
    margin-right: 30px;
  }
  .login-font {
    margin-right: 10px;
  }
}

@media (max-width:450px) {
  .sessions {
    padding-left:60px;
  }
}

@media (max-width:440px) {

}

@media (max-width:430px) {

}

@media (max-width:420px) {
  .nav-profile-image-1200 {
    margin-left: 20px;
  }
}

@media (max-width:410px) {
 
}

@media (max-width:400px) {
  

}

@media (max-width:390px) {

}

@media (max-width:380px) {
  .aokako-font{
    margin-left: 20px;
  }
  .signin-font {
    margin-right: 20px;
  }
  .nav-profile-image-1200 {
    margin-right: 20px;
  }
}

@media (max-width:340px) {
  .nav-profile-image-1200 {
    margin-left: 10px;
  }
}

@media (max-width:320px) {
  .nav-profile-image-1200 {
    margin-left: 10px;
  }
}

@media (max-width:300px) {
  .nav-profile-image-1200 {
    margin-left: 10px;
  }
}

