@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

                                        // application.html.erb

.header {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.header li {
  float: left;
  list-style: none;
  line-height: 28px;
}

.aokako-font {
  font-size: 27px;
  color: black;
  font-family: 'Apple Chancery';
  margin-left: 220px;
  font-weight: bold;
}

.aokako-font:hover {
  text-decoration: none;
  color: black;
}

.login-font {
  color: black;
  margin-left: 660px;

}

.login-font:hover {
  text-decoration: none;
  color:black;
}

.signin-font {
  color: black;
  margin-left: 50px;
}

.signin-font:hover {
  text-decoration: none;
  color: black;
}

.fa-house {
  color: black;
  margin-left: 500px;
  font-size: 20px;
}

.fa-user-plus {
  color: black;
  margin-left: 30px;
  font-size: 20px;
}

.fa-plus {
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  margin-left: 30px;
  font-size: 15px;
  padding: 1px 2px;
}

.logout-font {
  color: black;
  margin-left: 30px;
}

.body {
  background-color: #fafafa;
}