
                                // new.html.erb

.past-paper-boards {
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
  }
  
.past-class-boards {
  border: 1px solid gray;
  background-color: #dbdbdb;
  padding: 5px 10px;
  border-radius: 3px;
}

.past-class-boards:hover {
    cursor: pointer;
}

.past-paper-boards-link {
  color: black;
}

.past-paper-boards-link:hover {
  text-decoration: none;
  color: black;
}

.form1 {
  letter-spacing: 6.5px;
  margin-right: 10.5px;
  position: relative;
  top: 2px;
}

.form2 {
  letter-spacing: 12px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.form3 {
  margin-right: 16.8px;
  position: relative;
  top: 2px;
}

.form1-new {
  letter-spacing: 6.5px;
  margin-right: 10.5px;
  position: relative;
  top: 2px;
}

.form2-new {
  letter-spacing: 12px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.form3-new {
  margin-right: 16.8px;
  position: relative;
  top: 2px;
}


                                  // index.html.erb

.article-bottom-board {
  padding: 10px;
  position: relative;
}                                  

.board-top {
  text-align: left;
  padding-top: 70px;
  margin: 0 auto;
  padding-left: 20px;
  width: 350px;
}              

.board-index {
  margin: 0 auto;
  overflow: hidden;
}

.index-board-content {
  width: 45%;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 2px;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}

.board-comment {
  position: relative;
  top: 4px;
  font-size: 15px;
}

.board-comment-all {
  display: none;
}

.board-date {
  color: #8e8e8e;
  font-size: 12px;
}

.continue-comment-link {
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.continue-comment-link:hover {
  color: gray;
  text-decoration: none;
}

.plus-comment {
  color: gray;
  font-size: 12px;
}


                              // show.html.erb


.board-show {
  padding: 10px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 587px;
  overflow:scroll;
}

.board-show-comment {
  position: relative;
  top: 4px;
  padding-bottom: 20px;
  font-size: 15px;
  width: 370px;
}

.board-show-date {
  color: #8e8e8e;
  font-size: 12px;
  position: relative;
  bottom: 50px;
}

.board-comment-scroll {
  height: 478.5px;
  overflow: scroll;
  padding-top: 10px;
}

.board-comment-1200 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.continue-comment-link-1200 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.board-comment-1000 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}


.board-comment-1000-all {
  display: none;
  position: relative;
  top: 4px;
  font-size: 15px;
}

.continue-comment-link-1000 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.board-comment-460 {
  display: none;
  position: relative;
  top: 4px;
  font-size: 13px;

}
.continue-comment-link-460 {
  display: none;
  color: gray;
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 3px;
}

.board-comment-scroll-1000 {
  height: 600px;
  overflow: scroll;
  margin: 0 auto;
}

.board-comment-scroll-1000-no-comment{
  height: 600px;
  overflow: scroll;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .board-comment {
    display: none;
  }
  .continue-comment-link {
    display: none;
  }
  .board-comment-1200{
    display: inline;
  }
  .continue-comment-link-1200 {
    display: inline;
  }
}

@media (max-width: 998px) {
  .index-board-content {
    width: 70%;
    margin: 10px auto;
  }
  .board-comment-1200 {
    display: none;
  }
  .continue-comment-link-1200 {
    display: none;
  }
  .board-comment-1000 {
    display: inline;
  }
  .continue-comment-link-1000 {
    display: inline;
  }
}

@media (max-width: 600px) {
  .index-board-content {
    width: 80%;
    font-size: 14px;
  }
  .board-comment-1200{
    font-size: 13px;
  }
  .board-comment-link-1200 {
    font-size: 13px;
  }
  .form1 {
    letter-spacing: 6.7px;
  }
  .form3 {
    letter-spacing: 0.7px;
  }
  .form3-new {
    letter-spacing:0;
  }
}

@media (max-width: 460px) {
  .index-board-content {
    width: 90%;
  }
  .board-comment-1000 {
    display: none;
  }
  .continue-comment-link-1000 {
    display: none;
  }
  .board-comment-460 {
    display: inline;
  }
  .continue-comment-link-460 {
    display: inline;
  }
}

@media (max-width:400px) {
  .index-board-content {
    width: 100%;
  }
}