// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homes-top {
    padding-top: 100px;
    margin: 0 auto;
    min-height: 830px;
}

.homes-top-content {
    text-align: center;
    font-size: 18px;
    z-index: 2;
}

.homes-top-aokako-font {
    font-size: 20px;
    color: black;
    font-family: 'Apple Chancery';
    font-weight: bold;
}

.aokako-alert {
    color: red;
    font-size: 15px;
}

.image {
    width: 100%;
    height: 100%;
}

.fotter {
    margin-top: 400px;
    font-size: 13px;
    color: gray;
}

@media (max-width:800px) {
    .image {
        width: 100%;
        height: 880px;
    }
  }
