// Place all the styles related to the kakomons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

                      // new.html.erb

.kakomon-new-content {
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 50px;
}                    

.index-profile-image {
  border: 1px solid #dbdbdb;
}

.index-profile-image-link:hover {
  text-decoration: none;
}


.new-container {
  width: 500px; // スマホではここを400pxにする
  margin: 0 auto;
}

.new-container li {
  list-style: none;
}


.kakomon-new {
  margin-top: 20px;
}

.new-container ul {
  padding-left: 0;
}

.year {
  width: 150px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}

.departments,.courses {
  width: 240px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
}

.sub-new {
  width: 240px;
  height: 30px;
}

.prof-new {
  width: 240px;
  height: 30px;
}

.comment-new {
  width: 350px;
  height: 100px;
  resize: none;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.kakomon-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.kakomon-submit:hover {
  color: white;
  background-color: #a9a9a9;
  filter: brightness(110%);
}

                          // index.html.erb

.kakomon-index {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.index-kakomon-content {
  flex:auto;
  width: 45%;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 20px;
  max-width: 436px;
  position: relative;
  margin-right: 20px;
}


.depSelector {
  width: 350px;
  padding-top: 20px;
  margin: 0 auto;
}

.article-top {
  padding:10px;
}

.index-profile-image {
  border-radius: 20px;
  margin-right: 5px;
}

.kakomon-user-name-top {
  margin-right: 313px;
}

.article-body {
  border-bottom: 1px solid #dbdbdb;
}

.image-link:hover{
  opacity: 0.9;
}

.kakomon-image-size {
  width: 434px;
  height: 580px;
}

.article-bottom {
  padding: 10px;
}

.kakomon-user-name {
  font-weight: 500;
  margin-right: 10px;
}

.comment-count {
  color: #8e8e8e;
  font-size: 15px;
}

.kakomon-show-link:hover {
  text-decoration: none;
  color: gray;
}

.kakomon-date {
  color: #8e8e8e;
  font-size: 12px;
}

.article-comment {
  padding: 5px;
  position: relative;
  height: 50px;
}

.comment-form {
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  width: 300px;
  height: 30px;
  line-height: 20px;
  padding-top: 9px;
}

.comment-submit {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #0095F6;
  position: absolute;
  top: 8px;
  right: 5px; 
  line-height: 20px;
}

.comment-submit:hover {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #0095F6;
}

.search {
  width: 240px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
}

.search-submit {
  padding: 0;
  color: white;
  background-color: #a9a9a9;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
}

.search-submit:hover {
  filter: brightness(110%);
}

.no-kakomon {
  margin-top: 30px;
  margin-left: 30px;
  color:gray;
}


.pagenate {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.page-number {
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  font-size: 20px;
}


                                // show.html.erb

.kakomons-show {
  margin-left: 230px;
  padding-top: 20px;
}                                

.kakomons-show-content {
  display: flex;
}                      

// モーダル
.index-modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.index-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  border: none;
  text-align: center;
}

.no_scroll {
  overflow: hidden;
}

.kakomon-delete {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
}

.kakomon-delete-link {
  color:#ed4956;
}

.kakomon-delete-link:hover {
  color:#ed4956;
  text-decoration: none;
}

.kakomon-edit {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.kakomon-edit-link{
  color: black;
}

.kakomon-edit-link:hover {
  color: black;
  text-decoration: none;
}

.kakomon-report {
  padding: 10px;
  font-weight: bold;
  color:#ed4956;
  border-bottom: 1px solid #dbdbdb;
}

.index-modal-close-button {
  padding: 10px;
}

// イメージ
.kakomons-show-image {
  border: 1px solid #dbdbdb;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 45%;
}

.kakomon-image-size{
  width: 100%;
  height: 100%;
}

// コメント
.comment-wrapper {
  border: 1px solid #dbdbdb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none; 
  width: 45%;
  position: relative;
  background-color: white;
  position: relative;
}

.kakomons-show-user-info {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.kakomons-show-user-name {
  padding-left: 10px; 
}

.kakomons-show-user-following {
  padding-left: 20px;
  color: black;
}

.kakomons-show-user-following:hover {
  text-decoration: none;
  color: black;
}

.kakomons-show-user-followed {
  padding-left: 20px;
  font-weight: bold;
  color: #0095f6;
}

.kakomons-show-user-followed:hover {
  text-decoration: none;
  padding-left: 20px;
  font-weight: bold;
  color: #0095f6;
}

.kakomons-show-top-button {
  margin-left: 200px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.comment-scroll {
  height: 607px;
  overflow: scroll;
}

.no-comment {
  color: gray;
  padding-top: 10px;
  padding-left: 10px;
}

.kakomon-comment-content-top {
  margin: 10px;
}

.kakomon-comment-content {
  margin-left: 15px;
  margin-left: 15px;
}

.kakomon-comment-name {
  margin-left: 15px;
}

.other-user-comment {
  margin-left: 10px;
}

.comment-user-name {
  margin-left: 10px;
}

.other-user-comment-content {
  margin-left: 15px;
}

.other-user-comment-content p {
  margin-bottom: 0;
}

.delete-comment {
  font-size: 11px;
  margin-left: 20px;
}

.delete-comment-link {
  color: gray;
}

.delete-comment-link:hover {
  color: gray;
  text-decoration: none;
}

.kakomons-show-comment-new {
  border-top: 1px solid #dbdbdb; 
  width: 100%;
  position: absolute;
  bottom: 0;
}

.kakomons-show-text-area {
  width: 450px;
  height: 50px;
  resize: none;
  border: none;
  outline: none;
}

.kakomons-show-comment-submit {
  position: absolute;
  bottom: 16px;
  right: 5px;
  background-color: white;
  border: none;
  color: #0095f6;
  font-weight: bold;
  opacity: 0.5;
}



@media (max-width:1200px) {
  .index-kakomon-content {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 10px;
  }
}

@media (max-width:1002px) {
  .index-kakomon-content {
    margin-left: 155px;
  }
}

@media (max-width:802px) {
  .index-kakomon-content {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 10px;
  }
}

@media (max-width:576px) {

}

@media (max-width:450px) {
  
}

@media (max-width:440px) {
  
}

@media (max-width:430px) {
  
}

@media (max-width:420px) {
  
}

@media (max-width:410px) {
  
}

@media (max-width:400px) {
  
}

@media (max-width:390px) {
  
}

@media (max-width:380px) {
  
}