// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.rooms-index {
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #dbdbdb;
    height: 400px;
}
