// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/






// index.html.erb

.rooms-index {
    margin: 0 auto;
    padding-top: 70px;
    width: 100%;
}

.room-index {
    background-color: white;
    width: 500px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.no-dm {
    padding-top: 40px;
    width: 200px;
    margin: 0 auto;
    color: gray;
}

.rooms-show-link {
    color: black;
}

.rooms-show-link:hover {
    color: black;
    text-decoration: none;
    filter: brightness(110%);
}

.rooms-index-profile-image {
    padding: 5px;
    border-radius: 20px;
}







// show.html.erb

.rooms-show {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.back-rooms-index {
    margin-right: 120px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.back-rooms-index-link:hover {
    text-decoration: none;
    color: black;
}

.rooms-show-profile-image {
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.rooms-show-profile-image-link:hover {
    text-decoration: none;
}

.rooms-show-top-name {
    bottom: 7px;
    margin-left: 5px;
    position: relative;
    bottom: 3px;
}

.message-area {
    width: 100%;
    height: 500px;
    border: 1px solid #dbdbdb;  
    border-bottom: 1px solid #dbdbdb;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
}

.message-content {
    padding-left: 15px;
}

.message-user-name {
    margin-left: 20px;
}


.message-text-area {
    width: 485px;
    height: 76px;
    resize: none;
    outline: none;
    border: none;
}

.message-created-at {
    font-size: 13px;
    color: gray;
    position: relative;
    bottom: 5px;
}

.rooms-show-form {
    position: relative;
    border-top:none;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
}

.message-submit {
    position: absolute;
    top: 26px;
    right: 5px;
    border: none;
    background-color: white;
    outline: none;
    font-weight: 600;
    color: #0095F6;
}

.current_user-wrapper {
    text-align: right;
}

.current_user {
    position: relative;
    text-align: left;
    width: fit-content;
    margin: 10px 0 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #00ff7f;
    padding: 5px 10px;
}

.current_user-width {
    max-width: 300px;
}

.visited_user-wrapper {
    position: relative;
}

.message-profile-image {
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 4px;
    margin: 5px 10px;
    border-radius: 20px;
}

.visited_user {
    background-color: #87cefa;
}

.visited_user-width {
    max-width: 300px;
}

.fukidasi {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-left: 55px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    padding: 9px 14px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;
}


.fukidasi::after {
    position: absolute;
    content: "";
    width:26px;
    height:15px;
    top: 5px;
}

.visited_user::after {
    left: -15px;    
    border-radius: 0 0px 10px 16px; 
    box-shadow: -8px -14px 0 -8px #87cefa inset;
}

 .current_user::after {
    right: -15px;
    border-radius: 0 0px 16px 10px; 
    box-shadow: 8px -14px 0 -8px #00ff7f inset;
}

.current_user-time {
    position: absolute;
    font-size: 13px;
    color: gray;
    width: 100px;
    bottom: 1px;
    left: -66px;
}

.visited_user-time {
    position: absolute;
    font-size: 13px;
    color: gray;
    width: 100px;
    bottom: 1px;
    right: -104px;
}
