// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

                                                // index.html.erb

.user-index {
    margin: 0 auto;
    padding-top: 70px;
}

#depSelector {
    margin-left: 155px;
}

.dep-select {
    margin-left: 180px;
}

.select {
    height: 30px;
    margin-bottom: 10px;
}

.no-kakomon-button{
    color: white;
    background-color: #a9a9a9;
    padding: 5.5px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.no-kakomon-button:hover{
    cursor: pointer;
}

.dep-submit {
    display: none;
    padding: 0;
    color: white;
    background-color: #a9a9a9;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.show {
    display: inline;
}

.dep-submit-first {
    padding: 0;
    color: white;
    background-color: #a9a9a9;
    padding: 5.5px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.dep-submit-first:hover {
    cursor: pointer;
}

.none{
    display: none;
}

.no-user {
    color: gray;
    margin-top: 30px;
    margin-left: 200px;
}

.user-index-table {
    margin: 20px auto;
    width: 400px;
}

.user-followed {
    color: black;
    float:right;
    border: 1px solid #dbdbdb;
    padding: 2px 10px;
    border-radius:3px;
    line-height: 25px
}

.user-followed:hover{
    text-decoration: none;
    color: black;
}

.user-following {
    background-color: #0095F6;
    color: white;
    float:right;
    padding: 2px 10px;
    border-radius:3px;
    line-height: 25px
}

.user-following:hover {
    text-decoration: none;
    color: white;
}

.user-index-modal-open:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.user-index-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    z-index: 11;
    background-color: white;
    border-radius: 8px;
}

.bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}



.td-profile-image {
    width: 150px;
    padding-right: 0;
}

.td-user-name {
    width: 300px;
    height: 40px;
}

.user-name-height {
    line-height: 25px;
}


.td-kakomon-count {
    width: 200px;
    line-height: 50px;
}

.td-follow {
    width: 220px;
    line-height: 50px;
}

                                                    // show.html.erb

.alert-secondary {
    width: 170px;
    height: 50px;
    position: absolute;
    top: 70px;
    right: 25px;
    text-align: center;
}                                                    

.users-show {
    margin: 0 auto;
}

.td-users-show-name {
    width: 200px;
}

.td-introduction {
    height: 20px;
    margin: 0;
}

.dep-width {
    width: 210px;
}

.cor-width {
    width: 200px;
}

.td-logout {
    width: 150px;
}

.logout-wrapper {
    width: 300px;
}   

.logout {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    width: 300px
}

.logout:hover {
    text-decoration: none;
    color: black;
}

.users-show-top {
    padding-top: 70px;
}


.count-follower-following {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
}

.count-follower-following span {
    flex: auto;
    width: 33%;
}

.make-room {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    background-color: #fafafa;
}

.ban {
    border: 1px solid #dbdbdb;
    padding: 7px 10px;
    border-radius: 3px;
    color: black;
    background-color: #fafafa;
}

.ban:hover {
    text-decoration: none;
    color: black;
}

.make-room:hover {
    text-decoration: none;
    color: black;
}

.users-info-wrapper {
    margin-top: 20px;
    margin-left: 120px;
}

.users-info {
    display: flex;
    margin: 0;
}

.users-info li {
    list-style: none;
}

.li-user-year {
    margin-right: 20px;
}

.li-user-cor {
    margin-left: 20px;
}

.kakomon-count {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.span-following {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.span-follower {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.follower-page-kakomon-count {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.follower-page-followings {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.follower-page-followers {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.following-page-kakomon-count {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.following-page-followings {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.following-page-followers {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.user-show-top {
    color: black;
}

.user-show-top:hover {
    color: black;
    text-decoration: none;
}

.user-show-top-follower {
    color: gray;
}

.user-show-top-follower:hover {
    color: gray;
    text-decoration: none;
}

.user-show-top-following {
    color: gray;
}

.user-show-top-following:hover {
    color: gray;
    text-decoration: none;
}

.user-show-top-show {
    color: gray;
}

.user-show-top-show:hover {
    color: gray;
    text-decoration: none;
}

.td-users-show-profile-image {
    width: 500px;
}

.show-profile-image {
    border-radius: 80px;
    border: 1px solid #dbdbdb;
    margin-right: 100px;
    margin-left: 150px;
    width: 150px;
    height: 150px;
}

.user-introduction {
    padding-left: 20px;
    position: relative;
    bottom: 10px;
}

.no-follower{
    color: gray;
    margin-left: 10px;
}

.users-show-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    box-sizing: border-box;
}

.no-kakomon {
    display: inline;
}

.show-kakomon-content {
    width: 45%;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 2px;
    margin-top: 20px;
    margin: 10px 20px;
}

.show-user-name {
    font-weight: 300;
    font-size: 40px;
    margin-right: 30px;
}

.td-users-name {
    line-height: 50px;
    width: 130px;
    display: flex;
}

.user-article-bottom {
    padding: 10px;
}

.user-setting {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    width: 300px;
}

.user-setting:hover {
    text-decoration: none;
    color: black;
}

.kakomon-show-link {
    width: 100%;
    height: 400px;
}

.kakomon-show-link:hover {
    opacity: 0.8;
}
                                                // edit.html.erb

.user-edit {
    margin: 0 auto;
}                                                

.user-edit-top {
    margin-top: 20px;
}                    


.user-info p {
    margin-bottom: 0;
    margin-top: 20px;
}

#image { 
    display: none;
}

.button {
    display: block;
    width: 110px;
    text-align: center;
    background-color: #ebebeb;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid gray;
}

.user-info label {
    margin: 0;
}

.edit-user-name {
    width: 400px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
}

.ban-exp {
    color:gray;
    font-size: 15px;
}

.edit-user-introduction{
    width: 400px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 3px;
    resize: none;
}

.errors-content {
    color: red;
}

.edit-user-submit {
    padding: 0;
    color: white;
    background-color: #a9a9a9;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.edit-user-submit:hover {
    background-color: #a9a9a9;
    color: white;
}

.max-width-1000 {
    display: none;
}

.show-user-name-1000 {
    font-weight: 300;
    font-size: 40px;
    margin-right: 30px;
}

.td-user-name-1000 {
    width: 200px;
}

.td-user-setting-1000 {
    width: 300px;
    height: 40px;
}

.td-logout {
    width: 110px;
    position: relative;
    bottom: 10px;
}

.td-logout-1000 {
    width: 105px;
    position: relative;
    bottom: 10px;
    height: 50px;
}

.users-info-1000 {
    display: flex;
}

.td-user-setting{
    width: 175px;
    position: relative;
    bottom: 10px;
}

.td-manager {
    position: relative;
    bottom: 10px;
    height: 50px;
}

.reports-1000 {
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: black;
    margin-left: 3px;
}





@media (max-width:1200px){
    .td-users-show-profile-image {
        width: 400px;
    }
    .show-profile-image {
        margin-left: 100px;
    }
    .show-kakomon-content {
        margin: 10px auto;
    }
    .kakomon-show-link {
        height: 333px;
    }
    .dep-select {
        margin-left: 120px;
    }
}

@media (max-width: 1000px){
    .max-width-1200 {
        display: none;
    }
    .max-width-1000 {
        display: block;
    }
    .users-info-wrapper {
        margin-left: 50px;  
    }
    .show-kakomon-content {
        width: 90%;
    }
    .kakomon-show-link {
        height: 503px;
    }
    .dep-select {
        margin-left: 50px;
    }
    .users-info-1000 li {
        flex-direction: column;
        list-style: none;
    }
}



@media(max-width: 800px){
    .td-users-show-profile-image {
        width: 250px;
    }
    .show-profile-image {
        border-radius: 80px;
        border: 1px solid #dbdbdb;
        margin: 10px 80px;
        width: 100px;
        height: 100px;
        
    }
    .show-user-name-1000 {
        font-weight: 300;
        font-size: 30px;
    }
    .users-info-wrapper {
        margin-left: 80px;  
    }
    .kakomon-show-link {
        height: 430px;
    }
    .dep-select {
        margin-left: 70px;
    }
}

@media (max-width: 600px){
    .td-users-show-profile-image {
        width: 200px;
    }
    .show-profile-image {
        margin: 10px 50px;
    }
    .users-info-wrapper {
        margin-left: 40px;  
    }
    .show-kakomon-content {
        width: 400px;
    }
    .kakomon-show-link {
        height: 398px;
    }
}

@media (max-width: 500px){
    .td-users-show-profile-image {
        width: 190px;
    }
    .show-profile-image {
        margin: 10px 45px;
    }
    .users-info-wrapper {
        margin-left: 20px;  
    }
    .show-kakomon-content {
        width: 300px;
    }
    .kakomon-show-link {
        height: 298px;
    }
    .user-article-bottom {
        padding: 5px 10px;
    }
    .dep-select {
        margin-left: 50px;
    }
    .user-index-table {
        width: 300px;
    }
    .td-profile-image {
        width: 100px;
    }
    .td-user-name {
        width: 100px;
    }
    .edit-user-name {
        width: 300px;
    }
    .edit-user-introduction {
        width: 300px;
    }
}

@media (max-width: 450px){
    .dep-select {
        margin-left: 30px;
    }
    .flash-message {
        display: none;
    }
}

@media (max-width: 400px){
    .td-users-show-profile-image {
        width: 190px;
    }
    .show-profile-image {
        margin: 10px 45px;
    }
    .dep-select {
        margin-left: 20px;
    }
    .user-setting{
        padding: 5px 5px;
    }
}

@media (max-width: 500px){
    .td-users-show-profile-image {
        width: 150px;
    }
    .show-profile-image {
        margin: 10px 30px;
    }
}
@media (max-width: 400px){
    .td-users-show-profile-image {
        width: 130px;
    }
    .show-profile-image {
        margin: 10px 20px;
    }
}

@media (max-width: 380px){
    .dep-select {
        margin-left: 0;
    }
}

@media (max-width: 340px){
     
}

@media (max-width: 315px){
   
}