<div class='container'>
    <div class='row'>
        <div class='col-md-6 rooms-index'>
            <% if @rooms.count === 0 %>
                <p class='no-dm'>dmをしていません</p>
            <% else %>
                <% @rooms.each do |room| %>
                    <% if Read.create(room_id:room.id,user_id:current_user.id) %>
                        <% @read = Read.update(checked:true) %>
                    <% end %>
                    <% @anotherUser = (room.users.where.not(id:current_user.id))[0] %>
                    <%= link_to room_path(room),class:'rooms-show-link' do %>
                        <div class='room-index'>
                            <%= image_tag @anotherUser.get_profile_image,size:'40x40',class:'rooms-index-profile-image'%>
                            <span class='rooms-index-user-name'><%= @anotherUser.name %></span>
                            <%= @checked? '既読': '未読' %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

