<% if kakomon.favorited_by?(current_end_user) %>
    <%= link_to kakomon_kakomonfavorites_path(kakomon),remote:true, method: :delete,class:'kakomon-thanks-link' do %>
<span class='kakomon-thanks'>Thanks</span><span class='kakomon-thanks-count'><%= kakomon.kakomonfavorites.count %></span>
    <% end %>
<% else %>
    <%= link_to kakomon_kakomonfavorites_path(kakomon),remote:true, method: :post,class:'not-kakomon-thanks-link' do %>
        <span class='not-kakomon-thanks'>Thanks</span><span class='kakomon-thanks-count'><%= kakomon.kakomonfavorites.count %></span>
    <% end %>
<% end %>

