<% followCount = Notification.where(action:'follow',visited_id:current_end_user.id,checked:false).count %>
<% commentCount = Notification.where(action:'comment',visited_id:current_end_user.id,checked:false).count %>
<% boardCommentCount = Notification.where(action:'board_comment',visited_id:current_end_user.id,checked:false).count %>
<% thanksCount = Notification.where(action:'thanks',visited_id:current_end_user.id,checked:false).count %>
<% uncheckedCount = followCount + commentCount + boardCommentCount + thanksCount %>

<%= link_to notifications_path do %>
    <% if uncheckedCount != 0 %>
        <span class='fa-stack'>
            <i class='fa-solid fa-heart heart-1200'></i>
            <% if uncheckedCount > 9 %>
                <i class='fa-solid fa-circle circle-1200-big'></i>
            <% else %>
                <i class='fa-solid fa-circle circle-1200'></i>
            <% end %>
            <i class='uncheckedCount-1200'><%= uncheckedCount %></i>
        </span>
    <% else %>
        <i class='fa-solid fa-heart heart-1200'></i>
    <% end %>
<% end %>
