<div class='container'>
    <div class='row'>
        <div class='col-md-6 notifications-index-wrapper'>
            <div class='notification-wrapper'>
                <% notifications = @notifications.where.not(visitor_id: current_end_user.id) %>
                <% if notifications.exists? %>
                    <%= render 'notification' %>
                <% else %>
                    <div class='no-notification-wrapper' %>
                        <p class='no-notification'>通知はありません</p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
